

body {
  font-family:"Poppins",sans-serif;
  background-color:#000000;
  font-size:16px;
  padding:0 20px;
  line-height:1.6;
  color:#ffffff;
  max-width:900px;
  margin:0 auto
}

h1, h2, h3, h4, h5, h6 {
    font-weight:600;
    color:#ff0f0f;
    height: auto;
    text-align: left;
}

#nav {
    position: sticky;
    top: 0;
    overflow: hidden;
    background-image: linear-gradient(to bottom, #000000, #000000a4);
}
#nav h1 {
    padding-top: 5px;
    text-align: left;
} 

#nav nav {
    float: left;
    display: block;
    color: #ff0f0f;
    text-align: center;
    text-decoration: none;

}

.section {
    align-items: center;
    flex-flow: column wrap;
    scroll-snap-align: initial;
}

.hero-slide {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

.card-slide {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: start;
    scroll-snap-align: initial;
}


.image-container {
    flex: 1;
    height: 600px;
    overflow: hidden;
    align-content: center;
}

.portrait {
    width: 100%;
    background-image: linear-gradient(to top, #ff0f0f, #000000);
    max-width: 275px;
    height: auto;
    border-radius: 10px;
    border-width: 10px;
    border-bottom:#ff0f0f;
    object-fit: cover;
    margin-top: 40px
}

.text-container {
    flex: 2;
}

.skill-container {
    display: flex;
    justify-content: center;
    gap: 60px;
    flex-wrap: wrap;
    padding-left: 25px;
    padding-right: 10px;
}

.skill-group {
    text-align: left;
}

.skill-title {
    text-align: left;
}

.skillset {
    list-style: square;
    padding: 0;
}

.skillset li {
    margin: 5px 0;
    color: #cccccc;
}

.section-title {
    align-content: center;
    justify-content: center;
    align-items: center;
}

.proj-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 20px;
    justify-content: left;
    margin-top: 20px;
    width: 100%;
}

.proj-container {
    width: 200px;
    height: 150px;
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: #aaa;
    border: 1px solid #333;
}

.card-slide .text-container {
    display: flex;
    flex-direction: row;
    gap: 20px;
}


.footer-section {
    color: #676767;
    border-top: 1px solid #222;
}