

body {
  font-family:"Poppins",sans-serif;
  background-color:#000000;
  font-size:16px;
  padding:0 20px;
  line-height:1.6;
  color:#ff0f0f;
  max-width:900px;
  margin:0 auto
}

h1, h2, h3, h4, h5, h6 {
    font-weight:600;
    color:#ff0f0f;
}

#nav {
    position: sticky;
    top: 0;
    overflow: hidden;
    background-image: linear-gradient(to bottom, #000000, #000000a4);
}
#nav h1 {
    padding-top: 5px;
    text-align: left;
} 

#nav nav {
    float: left;
    display: block;
    color: #ff0f0f;
    text-align: center;
    text-decoration: none;

}

.section {
    align-items: center;
    flex-flow: column wrap;
    scroll-snap-align: initial;
}

.hero-slide {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

.card-slide {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: start;
    scroll-snap-align: initial;
}


.image-container {
    flex: 1;
    height: 600px;
    overflow: hidden;
}

.portrait {
    width: 100%;
    background-image: linear-gradient(to top, #ff0f0f, #000000);
    max-width: 275px;
    height: auto;
    border-radius: 10px;
    border-width: 10px;
    border-bottom:#ff0f0f;
    object-fit: cover;
    margin-top: 40px
}

.text-container {
    flex: 2;
}

.text-container .skillset {
}

.section-title {
    align-content: center;
    justify-content: center;
    align-items: center;
}

.proj-list {
    display: flex;
    flex-direction: column;
}

.card-slide .text-container {
    display: flex;
    flex-direction: row;
    gap: 20px;
}