

body {
  font-family:"Poppins",sans-serif;
  background-color:#000000;
  font-size:16px;
  padding:0 20px;
  line-height:1.6;
  color:#ff0f0f;
  max-width:900px;
  margin:0 auto
}

h1,h2,h3,h4,h5,h6 {
    font-weight:600;
    margin: 0 0 10px;
    color:#ff0f0f;
}

.main-title {

}


.section {
    align-items: center;
    flex-flow: column wrap;
    scroll-snap-align: initial;
}

.hero-slide {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

.card-slide {
    display: flex;
    gap: 20px;
    align-items: center;
}


.image-container {
    flex: 1;
    height: 600px;
    overflow: hidden;
}

.portrait {
    width: 100%;
    max-width: 275px;
    height: auto;
    border-radius: 4px;
    object-fit: cover;
    margin-top: 40px
}

.text-container {
    flex: 2;
}

.text-container .skillset {
}

.section-title {
    align-content: center;
    justify-content: center;
    align-items: center;
    margin: 10px 10px 10px;
}

.proj-list {
    flex-direction: row;
}

.proj-image {

}